<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<body>
<div class="container">
    <div class="bg-primary" style="width:70%; height: 60px;padding-top: 1px;">
        <h3 align="center">管理员登录</h3>
    </div>
    <br>
    <br>
    <form th:action="@{/admin/login}" name="myform" method="post" th:object="${aUser}" class="form-horizontal"
          role="form">
        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">用户名</label>
            <div class="col-sm-4 col-md-4">
                <input type="text" class="form-control"
                       placeholder="请输入管理员名"
                       th:field="*{aname}"/>
                <span th:errors="*{aname}"></span>
            </div>
        </div>

        <div class="form-group has-success">
            <label class="col-sm-2 col-md-2 control-label">密码</label>
            <div class="col-sm-4 col-md-4">
                <input type="password" class="form-control"
                       placeholder="请输入您的密码" th:field="*{apwd}"/>
                <span th:errors="*{apwd}"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">登录</button>
                <button type="reset" class="btn btn-primary">重置</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <font size="6" color="red">
                    <span th:text="${errorMessage }"></span>
                </font>
            </div>
        </div>
    </form>
</div>
</body>
</html>