<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Yuzhen.eRestaurant.repository.admin.AdminRepository">
    <select id="login" parameterType="AUser" resultType="AUser">
        select * from ausertable where aname = #{aname} and apwd = #{apwd}
    </select>
</mapper>